.site-statistic-demo-card {
  padding: 30px;
  background: #ececec;
}
[data-theme="dark"] .site-statistic-demo-card {
  background: #303030;
}

.wrapper {
  width: 50px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
